body {
  margin: 0;
  padding: 0 150px;
}
.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.summary {
  width: 30%;
  height: 300px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
h1 {
  color: black;
}
p {
  color: gray;
}
.profession {
  font-size: 15px;
}
#title {
  color: gray;
  font-size: 23px;
  font-weight: 800;
  font-style: normal;
}
.info {
  display: flex;
  padding: 0px 60px;
  height: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 50%;
  min-width: 300px;
}
.infoContent {
  justify-content: space-between;
  width: 100%;
}
.contactStyle {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 45%;
  height: 250px;
}

.content {
  height: 260px;
  width: 100%;
  display: flex;
}
h2 {
  color: black;
  font-style: italic;
}

.wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.infoDiv1 {
  height: 260px;
  width: 30%;
}
.infoDiv2 {
  height: 130px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  border-left: 1px solid gray;
}
.infoDiv3 {
  height: 130px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-top: 10px;
  border-left: 1px solid gray;
}
.content1 {
  height: 260px;
  width: 100%;
  display: flex;
}
.wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.info-Div1 {
  height: 260px;
  width: 30%;
}
.info-Div2 {
  height: 80px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  border-left: 1px solid gray;
}
.info-Div3 {
  height: 80px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-top: 10px;
  border-left: 1px solid gray;
}
.info-Div4 {
  height: 80px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-top: 10px;
  border-left: 1px solid gray;
}
.contacts {
  font-weight: 900;
  color: black;
}
